@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap/scss/_variables.scss';

.datin {
    height: calc(100% - 48px);
    
    &--empty__main {
        border: 2px dashed $blue-500;
        height: 100%;

        h2 {
            color: $blue-500
        }

        .btn__addIndicador {
            width: 180px;
            height: 40px;
        }
    }
}