header{
    background: linear-gradient(to right, #7f00b2, #415fe4);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

img{
    width: 5%;
    margin-right: 2%;
}

h1{
    font-size: 140%;
}