body{
    display: flex;
    flex-direction: row;
    margin: 2%;

}

.formulario{
    width: 28%;
    margin-right: 2%;
}
.vistaEjemplo{
    width: 70%;
    display: flex;
    
}

.nombreView{
    display: block;
}

.apagado{
    display: none;
}
