<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" type="text/css" media="all"> 
    <link rel="stylesheet" href="/public/css/planDeAccion.css">
    <title>planesAcción</title>
</head>
<body>
    <section class="formulario">
        <form action="/plan-accion-config" method="POST" id="formVisualizacion">
            <h2>Seleccionar Tipo de Visualización</h2>
        
            <label for="tipoVisualizacion">Seleccione el tipo de visualización:</label>
            <select id="tipoVisualizacion" name="tipoVisualizacion">
                <option value="tabla">Tabla</option>
                <option value="tarjeta">Tarjeta</option>
            </select>
        
            <div id="opcionesTabla">
                <h3>Opciones que se desean visualizar</h3>
                <label><input checked id="nombre"    type="checkbox" name="nombre"    value="true"> Nombre de la tarea</label><br>
                <label><input checked id="prioridad" type="checkbox" name="prioridad" value="true"> Prioridad</label><br>
                <label><input checked id="estado"    type="checkbox" name="estado"   value="true"> Estado</label><br>
                <label><input checked id="fecha"     type="checkbox" name="fecha"     value="true"> Fecha de inicio</label><br>
                <label><input checked id="fechaFin"  type="checkbox" name="fechaFin"  value="true"> Fecha estimada de finalizacion</label><br>
                <label><input checked id="notas"     type="checkbox" name="notas"     value="true"> Notas</label><br>
                <label><input checked id="encargado" type="checkbox" name="encargado"     value="true"> Encargado</label><br>
            </div>

            <input class="button" href="/plan-accion-config" type="submit" value="ingresar">
        </form>
    </section>

    <section class="vistaEjemplo">

        <div class="tabla">
            <table class="table">
                <thead class="table-light">
                    <td class = "nombreView"   >Nombre de la tarea</td>
                    <td class = "prioridadView">Prioridad</td>
                    <td class = "estadoView"   >Estado</td>
                    <td class = "fechaView"    >Fecha de inicio</td>
                    <td class = "fechaFinView" >Fecha estimada de finalizacion</td>
                    <td class = "notasView"    >Notas</td>
                    <td class = "encargadoView">encargado</td>
                  </thead>
                  <tbody>
                    <td class = "nombreView"   >Nombre de la tarea</td>
                    <td class = "prioridadView">Prioridad</td>
                    <td class = "estadoView"   >Estado</td>
                    <td class = "fechaView"    >Fecha de inicio</td>
                    <td class = "fechaFinView" >Fecha estimada de finalizacion</td>
                    <td class = "notasView"    >Notas</td>
                    <td class = "encargadoView">encargado</td>
                  </tbody>
              </table>
            <h1> tabla </h1> 
            <p class="nombreView"> Nombre de la tarea </p> 
            <p class="prioridadView"> Prioridad </p> 
            <p class="estadoView"> Estado </p> 
            <p class="fechaView"> Fecha de inicio </p> 
            <p class="fechaFinView"> Fecha estimada de finalizacion </p> 
            <p class="notasView"> Notas </p> 
            <p class="encargadoView"> encargado </p> 
        </div>
        <div class="tarjeta">  
            <h1> tarjeta </h1>           
            <p class="nombreView"> Nombre de la tarea </p> 
            <p class="prioridadView"> Prioridad </p> 
            <p class="estadoView"> Estado </p> 
            <p class="fechaView"> Fecha de inicio </p> 
            <p class="fechaFinView"> Fecha estimada de finalizacion </p> 
            <p class="notasView"> Notas </p> 
            <p class="encargadoView"> encargado </p> 
        </section>
    <script src="/public/js/configPlanDeAccion.js"></script>
</body>
</html>