<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head') %>
    <link rel="stylesheet" href="/public/css/login.css">
</head>
<body>
    <%-include('./partials/header') %> 
    <main>
        <form action="/login" method="POST">
            <h1 class="error"><%= error %> </h1> 
            <input class="campo" type="text" name="user" placeholder = "Ingrese su email" required>
            <input class="campo" type="password" name="pass" placeholder = "Elegí tu contraseña" required>


            <input class="button" href="/register" type="submit" value="ingresar">
        
        </form>
    </main>
</body>
</html>