<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head') %>
    <link rel="stylesheet" type="text/css" href="./css/home.css" media="screen">
</head>
<body>
    <%-include('./partials/header') %>
    <%-include('./partials/menu_desplegable') %>
    <main>
        <h1> no tienes permisos </h1>
    </main> 
</body>
</html>