<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head') %>
    <link rel="stylesheet" type="text/css" href="/public/css/home.css" media="screen">
</head>
<body>
    <%-include('./partials/header') %>
    <%-include('./partials/menu_desplegable') %>
    <main>
       <p> Enviado </p>
    </main>
</body>
</html>
<!-- 
Formulario de Carga de Datos de KPIs
Proyecto:

[Campo de texto]
Nombre del Indicador:

[Campo de texto]
Frecuencia de Carga:

[Desplegable]
Semanal
Quincenal
Mensual
Trimestral
Responsable:

[Campo de texto]
Email del Responsable:

[Campo de texto]
Responsable Suplente:

[Campo de texto]
Email del Responsable Suplente:

[Campo de texto]
Logs de Carga:

[Área de texto]
Fecha de Carga: [Fecha]
Hora de Carga: [Hora]
Datos Ingresados: [Campo de texto]
Aviso de Recordatorio:

[Desplegable]
Semanal
Quincenal
Mensual
Trimestral

Instrucciones de Uso:
Proyecto: Ingrese el nombre del proyecto al que pertenece el KPI.
Nombre del Indicador: Ingrese el nombre del indicador que se está siguiendo.
Frecuencia de Carga: Seleccione la frecuencia con la que se deben cargar los datos de este KPI (Semanal, Quincenal, Mensual, Trimestral).
Responsable: Ingrese el nombre completo de la persona responsable de la carga de datos.
Email del Responsable: Ingrese el correo electrónico del responsable.
Responsable Suplente: Ingrese el nombre completo de la persona que actuará como suplente en caso de que el responsable principal no pueda realizar la carga.
Email del Responsable Suplente: Ingrese el correo electrónico del responsable suplente.
Logs de Carga: Registre cada entrada de datos con la fecha, hora y los datos ingresados. Este campo es una lista acumulativa para mantener un historial de las cargas.
Aviso de Recordatorio: Seleccione la frecuencia con la que se enviarán recordatorios para la carga de datos.

-->