<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head') %>
    <link rel="stylesheet" href="/public/css/powerBi.css">
</head>
<body>    
    <%-include('./partials/header') %>
    <%-include('./partials/menu_desplegable') %>
    <main>
        <iframe class="powerBi" title="TABLERO-GLOBAL_HITSS (2)" src="<%=area.power_Bi%>" frameborder="0" allowFullScreen="true"></iframe>
    </main>
    
</body>
</html>