<menu> 
    <i class="fa-solid fa-bars lineas-menu"></i>

    <a class="menu_option" href="/">
        <i class="fa-solid fa-house"></i>
        <p> Dashboards</p>
    </a>

    <a class="menu_option" href="/plan-accion-config">
        <i class="fa-solid fa-user"></i>
        <p>planes acción</p>
    </a>

    <a class="menu_option" href="/okr">
        <i class="fa-solid fa-list-check"></i>
        <p> okr </p>
    </a>

    <a class="menu_option" href="/">
        <i class="fa-solid fa-brain"></i>
        <p> Asistente IA </p>
    </a>

    <a class="menu_option" href="/">
        <i class="fa-solid fa-chart-simple"></i>
        <p> DatIN </p>
    </a>
    <script src="/public/js/Menu.js"></script>
</menu>