@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap/scss/_variables.scss';

.formPA {
    max-width: 100%;
    padding: 20px;

    &__btn {
        width: 180px;
        height: 40px;
        background-color: #fff !important;
        color: $blue-500 !important;
    }
}

@media screen and (min-width: 768px) {
    .formPA {
        width: 600px;
    }
}