@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap/scss/_variables.scss';

.loading__tareas {
    width: 100%;
    height: 100%;

    div {
        margin-bottom: 10px;
        svg g g circle[stroke] {
            stroke: $blue-500;
        }
    }

    p {
        color: $blue-500
    }
}

.tareas {
    height: 100%;

    &__inicio {
        width: 100%;
        height: 100%;

        img {
            width: 150px;
            max-width: 100%;
        }
    
        h2 {
            color: $blue-500
        }
    }

    &__header {
        &__title {
            cursor: pointer;
        }
        
        h3 {
            i {
                color: $blue-500;
            }
        }

        .btn__edit, .btn__delete {
            width: 32px;
            height: 32px;
            padding: 0;
        }

        .btn__addTarea {
            width: 160px;
            height: 40px;
        }
    }

    &--empty__main {
        border: 2px dashed $blue-500;
        height: 100%;

        h2 {
            color: $blue-500
        }

        &__btn {
            width: 180px;
            height: 40px;
            background-color: $blue-500 !important;
            color: #fff !important;
        }
    }

    &__main {
        height: 100%;
        position: relative;
        
        .btn__area {
            font-size: 12px;
        }

        &__graficas {
            display: flex;
            gap: 20px;

            &__doughnut {
                width: 100%;
                padding: 20px;
                margin-bottom: 20px;

                &__info {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    
                    &__textos {
                        h4 {
                            color: $blue-500;
                        }

                        p {
                            font-size: 14px;
                        }

                        p:first-child {
                            color: $blue-500;
                        }
                    }

                    &__chart {
                        width: 120px;
                        height: 120px;
                    }
                }
            }
            &__doughnut:last-child {
                margin-bottom: 0;
            }
        }

        &__tabla {
            overflow-x: scroll;
            width: calc(100vw - 40px);

            .table {
                table-layout: auto;
                width: 100%;

                thead {
                    tr {
                        th {
                            white-space: nowrap;
                            overflow:hidden;
                            color: $blue-500;
                            padding: 5px 20px;
                        }
                    }
                }

                &__tbody {

                    &__tarea {
                        cursor: pointer;
                    }

                    &__tarea:hover .active{
                        display: flex;
                    }

                    td {
                        padding: 5px 20px;
                        height: 50px;
                    }

                    &__nombre {
                        max-width: 300px;
                        text-overflow: ellipsis;
                    }

                    &__nombre, &__fechaInicial, &__fechaFinal, &__equipo, &__notas {
                        white-space: nowrap;
                        overflow: hidden;
                    }
                    &__notas {
                        max-width: 300px;
                        text-overflow: ellipsis;
                    }
                    &__prioridad {
                        span {
                            padding: 6px 12px;
                        }

                        &--baja {
                            background-color: $blue-500 !important;
                        }

                        &--media {
                            background-color: $blue-600 !important;
                        }

                        &--alta {
                            background-color: $blue-700 !important;
                        }
                    }

                    &__estado {
                        span {
                            padding: 6px 12px;
                        }

                        &--pendiente {
                            background-color: $gray-500 !important;
                        }

                        &--proceso {
                            background-color: $warning !important;
                        }

                        &--completada {
                            background-color: $success !important;
                        }

                        &--espera {
                            background-color: $purple-400 !important;
                        }

                        &--cancelada {
                            background-color: $danger !important;
                        }

                        &--bloqueada {
                            background-color: $black !important;
                        }
                    }

                    &__progreso {

                        &__bar {
                            width: 120px;
                        }
                        
                    }

                    &__buttons {
                        display: none;
                        flex-direction: row;
                        position: absolute;
                        right: 0;
                        height: 50px;

                        button {
                            width: 36px;
                            height: 36px;
                            padding: 0;
                        }
                    } 

                    .btn__subtarea {
                        background-color: $blue-500;
                        color: #fff;
                        margin: 10px 20px 20px 20px;
                        width: 180px;
                    }

                    .btn__subtarea:hover {
                        background-color: #0b5ed7;
                    }
                }
            }
        }

        &__tabla::-webkit-scrollbar {
            height: 10px;
        }

        &__tabla::-webkit-scrollbar-track {
            background-color: rgba($color: $gray-300, $alpha: 0);
        }

        &__tabla::-webkit-scrollbar-thumb {
            background-color: $gray-500;
            border-radius: 5px;
        }
    }
}

@media screen and (min-width: 768px) {
    .loading__tareas {
        width: calc(100% - 230px);
    }

    .tareas {
        width: calc(100% - 230px);
        height: 100%;

        &__inicio {
            width: calc(100% - 230px);

            img {
                width: 200px;
            }
        }

        &__main {
            height: calc(100% - 48px);

            &__graficas {
                display: flex;
                gap: 20px;
    
                &__doughnut {
                    width: 50%;
                    padding: 30px;
                    margin-bottom: 0;
                }
            }

            &__tabla {
                width: 100%;
                height: 100%;
            }
        }
    }
}
