@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap/scss/_variables.scss';

.planes__accion {
    height: 100%;
    
    &__tareas--empty {
        width: 100%;
        height: calc(100% - 48px);
        border: 2px dashed $blue-500;
        padding: 20px;

        h2 {
            color: $blue-500
        }

        &__btn {
            width: 180px;
            height: 40px;
            background-color: $blue-500 !important;
            color: #fff !important;
        }
    }

    &__tareas {
        &__tabla {
            overflow-x: scroll;
            width: calc(100vw - 80px);

            .table {
                table-layout: auto;
                width: 100%;

                thead {
                    tr {
                        th {
                            white-space: nowrap;
                            overflow:hidden;
                            color: $blue-500;
                            padding: 5px 20px;
                        }
                    }
                }

                &__tbody {
                    td {
                        padding: 5px 20px;
                    }

                    &__nombre, &__fechaInicial, &__fechaFinal, &__equipo {
                        white-space: nowrap;
                        overflow:hidden;
                    }
                    &__notas {
                        // width: 1000px;
                        max-width: 300px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    &__equipo {
                        width: 1000px;
                    }
                    &__prioridad {
                        span {
                            padding: 6px 12px;
                        }

                        &--baja {
                            background-color: $blue-500 !important;
                        }

                        &--media {
                            background-color: $blue-600 !important;
                        }

                        &--alta {
                            background-color: $blue-700 !important;
                        }
                    }

                    &__estado {
                        span {
                            padding: 6px 12px;
                        }

                        &--pendiente {
                            background-color: $gray-500 !important;
                        }

                        &--proceso {
                            background-color: $warning !important;
                        }

                        &--completada {
                            background-color: $success !important;
                        }

                        &--espera {
                            background-color: $purple-400 !important;
                        }

                        &--cancelada {
                            background-color: $danger !important;
                        }

                        &--bloqueada {
                            background-color: $black !important;
                        }
                    }

                    &__buttons {
                        button {
                            width: 36px;
                            height: 36px;
                            padding: 0;
                        }
                    } 
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .planes__accion {
        &__tareas--empty {
            padding: 0;
        }

        &__tareas {
            &__tabla {
                width: inherit;
            }
        }
    }
}